{% extends 'base.html' %}

{% block container %}
  <h1 class="h1 text-center mx-auto mt-4 py-5"><strong>Найдите идеального <br>репетитора английского, <br>занимайтесь онлайн</strong></h1>
  <div class="text-center mb-5">
    <div class="btn-group mx-auto mb-0" role="group" aria-label="Basic example">
      {% for g_key, g_value in goals.items() %}
        <a href="/goals/{{ g_key }}" class="btn btn-outline-secondary">{{ g_value }}</a>
      {% endfor %}
    </div>
  </div>
  <h2 class="h5 text-center mb-5">Наши преподаватели</h2>
  <div class="row">
    <div class="col-12 col-lg-10 offset-lg-1 m-auto">
      {%- for id_, teacher in data.items() %}
        {% include 'description.html' %}
      {%- endfor %}
    </div>
  </div>


  <h2 class="text-center mt-5 mb-3">Не нашли своего репетитора?</h2>
  <p class="text-center mb-4">Расскажите, кто вам нужен и мы подберем его сами</p>
  <div class="text-center pb-5">
      <a href="" class="btn btn-primary">Заказать подбор</a>
  </div>
{% endblock %}