{% extends 'base.html' %}

{% block container %}
  <div class="col-12 col-sm-10 col-lg-6 offset-lg-3 offset-sm-1">
      <form action="/request_done" class="card mb-5" method="post">
        <div class="card-body text-center pt-5">
          <h1 class="h3 card-title mt-4 mb-2">Подбор преподавателя</h1>
          <p class="px-5">Напишите, чего вам нужно и&nbsp;мы&nbsp;подберем отличных&nbsp;ребят</p>
        </div>
        <hr>
        <div class="card-body mx-3">
          <div class="row">
            <div class="col">
              <p>Какая цель занятий?</p>
              {% for g_key, goal in goals.items() %}
                {% set goal_id = 'goal_' + (loop.index)|string %}
                {% if loop.index == 1 %}
                  {% set checked = 'checked' %}
                {% else %}
                  {% set checked = '' %}
                {% endif %}
                <div class="form-check ">
                  <input type="radio" class="form-check-input" name="goal" value="{{ g_key }}" id="{{ goal_id }}" {{ checked }}>
                  <label class="form-check-label" for="{{ goal_id }}">{{ goal }}</label>
                </div>
              {% endfor %}
            </div>
            <div class="col">
              <p>Сколько времени есть?</p>
              {% for time in ['1-2', '3-5', '5-7', '7-10']%}
                {% set time_id = 'time_' + (loop.index)|string %}
                {% if loop.index == 3 %}
                  {% set checked = 'checked' %}
                {% else %}
                  {% set checked = '' %}
                {% endif %}
                <div class="form-check">
                  <input type="radio" class="form-check-input" name="time" value="{{ time }}" id="{{ time_id }}" {{ checked }}>
                  <label class="form-check-label" for="{{ time_id }}">{{ time }} часа в&nbsp;неделю</label>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <hr>
        <div class="card-body mx-3">
          <label class="mb-1 mt-2">Вас зовут</label>
          <input class="form-control" type="text" placeholder="" name="name">
          <label class="mb-1 mt-2">Ваш телефон</label>
          <input class="form-control" type="text" placeholder="" name="phone">
          <input type="submit" class="btn btn-primary mt-4 mb-2" value="Найдите мне преподавателя">
        </div>
      </form>
    </div>
{% endblock %}